# Исследование надежности заемщиков

 <div class="alert alert-info">
    <h1> Исследование надежности заемщиков</h1>
    <br>
    <h3>Описание проекта<a class="tocSkip"></h3>
    <br>
    Для построения модели кредитного скоринга необходимо понять, какие данные необходимо учитывать при вычислении способности потенциального заёмщика вернуть кредит банку.
    <br>
    <h3>Цель<a class="tocSkip"></h3>
    <br>
    Разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок.
    <br>
    <h3>Входные данные от банка<a class="tocSkip"></h3>
    <br>
    Статистика о платёжеспособности клиентов.
    <br>
    <h3>План работы<a class="tocSkip"></h3>
   
- изучить общую информацию о данных
- обработать, если есть, аномальные значения и пропуски данных
- удалить дубликаты
- разбить данные на категории по уровню дохода и по цели кредита
- определить зависимость между количеством детей и возвратом кредита в срок
- определить зависимость между семейным положением и возвратом кредита в срок
- определить зависимость между уровнем дохода и возвратом кредита в срок
- определить зависимость между целью кредита и его возвратом в срок</div>

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [16]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [17]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [19]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [20]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [21]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [22]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [27]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Сформируем сводную таблицу, в которой колонке с количеством детей будут соответствовать строки 
с количеством задолженностей, общим количеством кредитов по категории и % просрочек по платежам.

In [22]:
children_pivot = data.pivot_table(index=['children'], values='debt', aggfunc=['sum', 'count', 'mean']).fillna(0)
children_pivot.columns = ['Задолженность', 'Количество кредитов', '% просрочек']
children_pivot.index.names = ['Количество детей']
children_pivot.style.format({'% просрочек': '{:.2%}'})

**Вывод:** Зависимость между количеством детей и возвратом кредита в срок, несомненно, есть. 

Можно выделить несколько зависимостей:
1. люди без детей берут гораздо больше кредитов, чем люди с детьми,
2. люди без детей - самые обязательные плательщики по займам,
3. родители с 1 или 2 детьми - самые проблемные заёмщики,
4. те, у кого 3 детей - более дисциплинированные заёмщики, чем те, у кого 1 или 2 ребёнка,
5. по категориям с 4 и 5 детьми точные выводы сделать нельзя ввиду малого количества данных по этим категориям.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Таким же образом посчитаем задолженности в зависимости от семейного положения:

In [23]:
family_status_pivot = data.pivot_table(index=['family_status'], values='debt', aggfunc=['sum', 'count', 'mean']).fillna(0)
family_status_pivot.columns = ['Задолженность', 'Количество кредитов', '% просрочек']
family_status_pivot = family_status_pivot.sort_values(by=['% просрочек'])
family_status_pivot.index.names = ['Семейное положение']
display(family_status_pivot.style.format({'% просрочек': '{:.2%}'}))

**Вывод:** Люди, которые состоят либо были в браке, относятся к оплате кредита более ответственно, чем те, кто в браке либо не был, либо живет гражданским браком.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Аналогичным образом посчитаем зависимость просрочек от ежемесячного дохода.

Сначала создадим сводную таблицу, основываясь на категориях дохода, а затем создадим столбец, 
в котором цифрами будет прописан доход заёмщиков в месяц.

In [24]:
total_income_pivot = data.pivot_table(index=['total_income_category'], values='debt', aggfunc=['sum', 'count', 'mean']).fillna(0)
total_income_pivot.columns = ['Задолженность', 'Количество кредитов', '% просрочек']
total_income_pivot.index.names = ['Категория заёмщиков']

def total_income_cat(category):
    try:
        if category == 'E':
            return '0 - 30 000'
        elif category == 'D':
            return '30 001 - 50 000'
        elif category == 'C':
            return '50 001 - 200 000'
        elif category == 'B':
            return '200 001 - 1 000 000'
        elif category == 'A':
            return 'более 1 000 000'
    except:
        pass

total_income_pivot = total_income_pivot.reset_index()
total_income_pivot['Доход заёмщиков в месяц'] = total_income_pivot['Категория заёмщиков'].apply(total_income_cat)
total_income_pivot = total_income_pivot.sort_values(by=['Категория заёмщиков'], ascending=False)
total_income_pivot.style.format({'% просрочек': '{:.2%}'})

**Вывод:** 
1. Самые дисциплинированные заёмщики - люди, чей доход составляет от 30 до 50 тысяч. 
2. Самые недисциплинированные - те, кто получает от 50 до 200 тысяч. 

НО! Разница между нижней и высшей границей дохода в категории "С" слишком большая, необходимо разбить категорию на несколько подкатегорий и уточнить результаты. То же самое можно сделать с категорией "В".

3. Заёмщиков категории А и Е в нашей выборке очень мало, поэтому корректные выводы об их надёжности сделать нельзя.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
purpose_pivot = data.pivot_table(index=['purpose_category'], values='debt', aggfunc=['sum', 'count', 'mean']).fillna(0)
purpose_pivot.columns = ['Задолженность', 'Количество кредитов', '% просрочек']
purpose_pivot.index.names = ['Цель кредита']
purpose_pivot = purpose_pivot.sort_values(by=['% просрочек'])
purpose_pivot.style.format({'% просрочек': '{:.2%}'})

**Вывод:** Самые пунктуальные клиенты - те, кто берут кредиты на операции с недвижимостью и на проведение свадьбы. Количество задолженностей по кредитам на получение образования и операции с автомобилем между собой практически равны и на 2% больше, чем первые 2 пункта.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* ошибки в заполнении данных, ошибки при выгрузке данных

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Т.к. количественные переменные могут принимать любое значение, а в выборке присутствуют выдающиеся значения (1000000 и больше), лучше использовать медиану, а не среднее арифметическое.

### Шаг 4: общий вывод.

Проведенное исследование показывает, что и семейное положение, и количество детей влияют на погашение кредита в срок. Самые добросовестные плательщики те, кто состоит или состоял в браке и не имеет детей. 

Тем не менее, для того, чтобы точнее понять надёжность заёмщика, необходимо дополнительное исследование, которое будет учитывать и семейное положение, и количество детей, и цель кредита, и ежемесячный доход.

<div class="alert alert-info">
<h1>Общий вывод<a class="tocSkip"></h1>
<br>
    Предоставленный файл с данными от банка был исследован на дубликаты, пропуски и наличие аномальных значений. Дубликаты и аномальные значения были удалены из файла, пропуски были заполнены медианными значениями.
<br>
<h3>В результате анализа были выявлены следующие зависимости:<a class="tocSkip"></h3>
<h4>Зависимость между количеством детей и возвратом кредита в срок:<a class="tocSkip"></h4>

- люди без детей берут гораздо больше кредитов, чем люди с детьми,
- люди без детей - самые обязательные плательщики по займам,
- родители с 1 или 2 детьми - самые проблемные заёмщики,
- те, у кого 3 детей - более дисциплинированные заёмщики, чем те, у кого 1 или 2 ребёнка,
- по категориям с 4 и 5 детьми точные выводы сделать нельзя ввиду малого количества данных по этим категориям.

<h4>Зависимость между семейным положением и возвратом кредита в срок:<a class="tocSkip"></h4>

- люди, которые состоят либо были в браке, относятся к оплате кредита более ответственно, чем те, кто в браке либо не был, либо живет гражданским браком.

<h4>Зависимость между уровнем дохода и возвратом кредита в срок:<a class="tocSkip"></h4>
    
- самые дисциплинированные заёмщики - люди, чей доход составляет от 30 до 50 тысяч,
- самые недисциплинированные - те, кто получает от 50 до 200 тысяч.
      
НО! Разница между нижней и высшей границей дохода в категории "С" слишком большая, необходимо разбить категорию на несколько подкатегорий и уточнить результаты. То же самое можно сделать с категорией "В".

- заёмщиков категории А и Е в нашей выборке очень мало, поэтому корректные выводы об их надёжности сделать нельзя.

<h4>Зависимость между целью кредита и его возвратом в срок:<a class="tocSkip"></h4>

- самые пунктуальные клиенты - те, кто берут кредиты на операции с недвижимостью и на проведение свадьбы. 
- количество задолженностей по кредитам на получение образования и операции с автомобилем между собой практически равны и на 2% больше, чем первые 2 пункта.
        
<h3>Рекомендации<a class="tocSkip"></h3>
    
Для получения более точных результатов анализа, рекомендую: 
- сделать выборку по большему количеству заёмщиков, 
- сделать больше категорий по ежемесячном доходу(разбить категории В и С на более мелкие, допустим, с шагом в 50 000)
- провести сравнительный анализ по 2 и более категориям "в связке" (например, заёмщики без детей с целью кредита на операции с жильём и заёмщики без детей с целью кредита на операции с автомобилем).
    
</div>